doctype html
html
  head
    meta(charset='UTF-8')
    title Webpack
  body
    <div ng-app="myApp">
      <a ui-sref="home" ui-sref-active="active">Home</a>
      <a ui-sref="repositories" ui-sref-active="active">Repositories</a>
      <a ui-sref="issues" ui-sref-active="active">Issues</a>
      <ui-view></ui-view>
    </div>
